<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url shortener</title>
</head>
<body>
    <h1>Url Shortener App</h1>
    <form action="/shortUrls" method="post">
        <input type="url" name="fullURL" placeholder="Enter the url" required>
        <button type="submit">Shorten URL</button>
    </form>
</body>
</html>